body {
    font-family: 'Nunito', 'Varela Round', sans-serif;
    font-size: 10px;
    margin: 0;
    background-color: #F8F9FA;
    text-decoration: none;
    
}

ul li {
    list-style:none;
}


.header {
    background-color: #FFF;
    display: flex;
    justify-content: flex-end;
}


.menu {
    display: none;
}

.menu__hambuguer {
    color: #A4BAC7;
    border: 1px solid #A4BAC7;
    padding: 8px 10px;
    border-radius: 4px;
    margin: 5px 10px;
    font-size: 1rem;
}

.box__principal {
    background-image:  linear-gradient(to bottom, transparent 50%, #161616 99%), url(../img/foto-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 700px;
}

.text__title {
    background: -webkit-linear-gradient(#fff, rgb(73, 72, 72));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 2.5rem;
    font-size: 2.4rem;
    letter-spacing: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-variant: small-caps;
    font-stretch: expanded;
    margin: 0;
}

.text__subtitle{
    text-align: center;
    color:#bbb8b8;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 50px 20px 30px;
    word-wrap: break-word
}

.btn {
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;

}

.btn__primary{
    background-color: #a4bac7;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 20px 25px;
    letter-spacing: 0.2rem;
}


.agency {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #161616 0, rgba(22, 22, 22, .9) 75%, rgba(22, 22, 22, .8) 100%);
    height: 360px;
    margin-bottom: 100px
}

.agency__title {
    color:#FFF;
    font-size: 1.8rem;
    text-align: center;
    margin: 30px 20px 5px 20px;
}


.agency__paragraph{
    color:#929292; 
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    padding: 0 10px;
}

.destination {
    background-color: #F8F9FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
 }

 .destination--groenlandia__img, .destination--antartida__img, .destination--siberia__img {
     width: 100%
 }

 .destination__title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0;
 }

 .destination__paragraph {
    font-size: 1rem;
    text-align: center;
    color:#8e8a8a;
    padding: 5px 50px;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 600;
 }

 .destination--groenlandia, .destination--antartida {
     background-color: #161616;
     color: #fff;
     margin-bottom: 50px;
 }

 .contact {
    background-image: linear-gradient(to bottom, transparent 50%, #161616 99%), url(../img/foto-footer.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 1200px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
 }

 .contact__icon{
    margin-top: 90px;
    margin-bottom: 5px;
}

.contact__title, .contact__title__form  {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 600;

}
 .contact__title{
    margin: 0 auto;
 }


 .contact__paragraph{
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
    padding: 0 20px;
    color: #20252A;
 }

 .contact__title__form {
    padding: 20px 0 10px;
}

.contact__form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.contact__form label {
    margin-top: 20px;
    text-align: left;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 600;

 }

 .contact__form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFF;
 
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    color:#A7A8A9; 
 }

 .contact__form textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 100%;

    font-size: 1.2rem;
    font-weight: 600;
    height: 150px;
 }

.contact__btn--enviar {
    background-color: #a4bac7;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 20px 25px;
    letter-spacing: 0.2rem;
    margin: 40px;
}

.footer {
    background-color:#161616;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.footer__number {
    text-decoration: none;
    color: #7D9DAF;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 20px 0 40px 0;
}

.footer__mediasocial{
    display: flex;
    justify-content:space-around;
    padding: 20px 0;
}

.footer__twitter, .footer__youtube, .footer__facebebook {
    padding: 15px;
    width: 50%;
}

.footer p {
    color: #8e8a8a;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 30px 0 50px 0;
}
